{% extends 'base.html' %}
{% block content %}

<h1>Registration Form</h1>

<form action="/registration-form" method="POST">
    <div>
        <label>
            Email: 
            <input type=text name="email">
        </label>
    </div>
    <br>
    <div>
        <label>
            Password: 
            <input type=text name="password">
        </label>
    </div>
    <br>
    <div>
        <label>
            Age
            <input type="number" name="age">
        </label>
    </div>
    <br>
    <div>
        <label>
            Zipcode
            <input type="text" name="zipcode">
        </label>
    </div>
    <br>
    <div>
        <input type=submit name="ENTER YOUR INFORMATION">
    </div>
</form>


{% endblock %}